# Github releases
/releases

# Temp files such as generated k8s yamls
/storage/tmp

# Static files
#/storage/af/nginx/public
/storage/af/nginx/logs

#/storage/bl/nginx/public
/storage/bl/nginx/logs

# Secrets/config
/Settings.pkl